// MEDIA
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// COLORS
$white: #ffffff;

// FONTS
$sserif: sans-serif;
$serif: serif;

:root {
  --bg-screen: #ffffff;
  --bg-secondary: #353c4f;
  --textColor: #000000;
  --primary: #6a31ff;
  --secondary: #9b9b9b;
  --primary-light: rgba(106, 49, 255, 0.2);
  --alert: #df1111;
  --info: #179017 ;
}
:root.dark {
  --bg-screen: #0a121e;
  --bg-secondary: #353c4f;
  --textColor: #ffffff;
}

/*** The new CSS Reset - version 1.4.0 (last updated 16.11.2021) ***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove list styles (bullets/numbers) */
ol,
ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  line-break: after-white-space;
}

a {
  cursor: pointer;
}

html {
  font-family: $sserif;
  color: var(--textColor);
}

.view {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen {
  width: 62.5rem;
  max-width: 62.5rem;
  height: calc(40.4375rem - 2px);
  max-height: calc(40.4375rem - 2px);
  position: relative;
  border-radius: 50px;
  padding: 1.9rem;
  background-image: url("../img/ipadScreen.png");
  z-index: 9999999;
  transition: all .2s ease;
  user-select: none;
  &-container {
    overflow: hidden;
    position: relative;
    padding: 1.6rem;
  }
}

.landing {
  width: 95%;
  height: 100%;
  margin-inline: auto;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 88888;
  animation: 0.8s disappear-to-top ease-in-out 1.5s forwards;
  &-logo {
    width: 70%;
  }
}

.badge {
  font-size: .8rem;
  background-color: var(--primary-light);
  color: var(--primary);
  display: inline-block;
  padding: .2rem .7rem;
  border-radius: 50px;
  font-weight: 700;
  cursor: pointer;
  &-large {
    padding: .4rem 1rem .4rem .4rem;
    position: absolute;
    top: .9rem;
    right: .5rem;

  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-width: 170px;
  color: white !important;
  border-radius: 50px;
  padding: 0.5rem 1rem;
}

.small-icon {
  width: 24px;
  height: 24px;
}

.w-500 {
  width: 500px;
}

.input {
  position: relative;
  &-error {
    border-color: var(--alert) !important;
  }
  &-area {
    border: 2px solid var(--textColor);
    border-radius: 15px;
    padding: 1.2rem 1rem;
    margin-bottom: .5rem;
  }
}

.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  position: absolute;
  width: 100%;
  bottom: 0rem;
  &-error {
    background-color: #c22020;
    color: white;
  }
  &-info {
    background-color: var(--info);
    color: white;
  }
}
.from-bottom-enter-active,
.from-bottom-leave-active {
  transition: all 0.4s ease-in-out;
}
.from-bottom,
.from-bottom-leave-to {
  opacity: 0;
  transform: translateY(3rem);
}

@keyframes disappear-to-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.scale-enter-active,
.scale-leave-active {
  transition: all 0.5s ease;
}


.scale-enter-from,
.scale-leave-to {
  opacity: 0;
  transform: scale(0.9);
}